.box {
    width: 200px;
    height: 100px;
    background-color: aqua;
    margin: 20px auto;
}

#colorBoxYellow {
    background-color: yellow;
}

.styleBorderDashed {
    border: 2px dashed red;
}

.styleBorderDotted {
    border: 2px dotted red;
}

.styleOutline {
    outline: 15px inset blue;  
}

.styleBorderLeftSolid {
    border-left: 6px solid;
}